## MacOS file
*._*
*/._*
*/*/._*

## free file sync
*ffs_db

## VS code related
.vscode
.local
.cache

## ipy related
.ipynb_checkpoints
__pycache__
*/.ipynb_checkpoints*
*/__pycache__

## Related:
.RData
.Rhistory
.Rproj.user
*.Rproj
*/.RData
*/.Rhistory
*/.Rproj.user

## Data
1_2_data_files.RData
CHN_Census.RData
df_chinese_subj_rr_stage1.RData
*.xls
CHNMap/
*.zip
*WorldBank*

## renv
renv/
renv.lock

## unpublished manuscript
