## MacOS file
*._*
*/._*
*/*/._*

## free file sync
*ffs_db

## VS code related
.vscode
.local
.cache

## ipy related
.ipynb_checkpoints
__pycache__
*/.ipynb_checkpoints*
*/__pycache__

## Related:
.RData
.Rhistory
.Rproj.user
# *.Rproj
*/.RData
*/.Rhistory
*/.Rproj.user

## Data
1_2_data_files.RData
CHN_Census.RData
df_chinese_subj_rr_stage1.RData
*.xls
CHNMap/
*.zip
*WorldBank*

## renv
renv/
renv.lock

## unpublished manuscript
23051421A*
23051421*
response to referees.docx
*v2.pdf
*v2.docx
*rev_hcp.docx
2023.04.09_MattersArising_NHB.docx
fig3.pdf
国界线.shp
